.way-forward-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    gap: var(--tui-spacing-large);

    .item {
        width: auto;
        max-width: 40rem;
    }
}

.way-forward-list-item {
    display: flex;
    align-items: center;
    transform: translateY(100%);
    transition: 500ms transform ease-in-out, 1000ms opacity ease-in-out;
    opacity: 0;
    border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
    border-radius: 10px;
    padding: var(--tui-spacing-large);
    gap: var(--tui-spacing-large);

    .order {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--tui-font-family-heading);
        font-size: var(--tui-font-size-extra-large);
        /*
        border-radius: 50%;
        background-color: var(--tui-color-brand);
        width: 2.5rem;
        height: 2.5rem;
        color: #ffffff;
        */
    }

    .description {
        font-size: var(--tui-font-size-medium);
    }

    &.animate {
        transform: translateY(0%);
        opacity: 1;
    }
}
