.quote {
    --color-background: #e6e6e6;
    display: block;
    background-color: var(--color-background);
    padding: var(--tui-spacing-extra-large);

    .quote-icon-wrapper {
        line-height: 1;
        font-size: 14rem;

        .quote-icon {
            margin: -0.18em 0 -0.5em;
            color: #ffffff;
            font-family: var(--tui-font-family-heading);
            font-weight: var(--tui-font-weight-bold);
        }
    }

    .text {
        max-width: 32rem;
        color: var(--tui-color-brand);
        font-size: var(--tui-font-size-medium);
    }

    .main-quote {
        line-height: 1.3;
        font-family: var(--tui-font-family-heading);
        font-size: var(--tui-font-size-extra-large);
        font-weight: var(--tui-font-weight-bold);
    }

    .author {
        font-style: italic;

        &:before {
            padding-right: var(--tui-spacing-extra-small);
            content: '-';
        }
    }
}
