.key-message-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--tui-font-size-double-ultra-large);

    .order {
        margin-top: -3rem;
        line-height: 1.2;
        color: var(--color-number);
        font-family: var(--tui-font-family-heading);
        font-variant: lining-nums;

        @media (max-width: 880px) {
            margin-top: var(--tui-spacing-medium);
            line-height: 1.4;
            font-size: var(--tui-font-size-ultra-large);
        }
    }

    .key-message-vl {
        border-left: 2px solid var(--color-number);
        height: 20rem;
        font-family: var(--tui-font-family-heading);

        @media (max-width: 880px) {
            height: 11rem;
        }
    }

    .key-message-description {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: var(--tui-spacing-medium);
        color: var(--tui-color-brand);
        font-size: var(--tui-font-size-large);

        @media (max-width: 880px) {
            margin: var(--tui-spacing-extra-extra-small);
        }
    }
}

.key-message-container {
    display: flex;
    @media (max-width: 880px) {
        flex-direction: column;
    }

}
