.fcdo-report {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    perspective: 100px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    .nav {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 111111;
        background-color: var(--tui-color-brand);
        width: 100%;

        .left-container {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            background-color: var(--tui-color-brand);
            padding: var(--tui-spacing-large);
        }

        .nav-items-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding: var(--tui-spacing-large);
            max-width: var(--width-page-max);
            gap: var(--tui-spacing-large);

            .nav-item {
                color: #ffffff;
                font-weight: var(--tui-font-weight-bold);
            }
        }

        .button {
            padding: 0;
        }

        .menu {
            display: none;
            border: var(--tui-width-separator-thin) solid #ffffff;
            border-radius: var(--tui-border-radius-medium);
            padding: var(--tui-spacing-extra-small);
            color: var(--tui-color-text-on-accent);

            &:hover {
                color: var(--tui-color-text-on-accent);
            }
        }

        @media (max-width: 720px) {
            .nav-items-container {
                position: absolute;
                top: 100%;
                left: 0;
                flex-direction: column;
                transform: translateY(-100%);
                transition: 200ms all ease-in-out;
                z-index: -1;
                background-color: var(--tui-color-brand);
                padding: var(--tui-spacing-large);
                width: 100%;

                &.nav-shown {
                    transform: translateY(0);
                }
            }

            .menu {
                display: block;
            }
        }
    }

    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        z-index: 1;
        background-color: #ffffff;
        width: 100%;
        min-height: 60vh;
        overflow-y: auto;

        .section-content {
            display: flex;
            flex-direction: column;
            padding: var(--tui-spacing-ultra-large) var(--tui-spacing-mega-large);
            width: 100%;
            max-width: var(--width-page-max);
            gap: var(--tui-spacing-extra-large);

            @media (max-width: 720px) {
                padding: var(--tui-spacing-super-large) var(--tui-spacing-extra-large);
            }
        }
    }

    .logo {
        width: 12rem;

        @media (max-width: 720px) {
            width: 6rem;
        }
    }

    .hero {
        position: relative;
        background-color: var(--tui-color-brand-light);
        background-image: url('../../resources/img/cover-img.jpg');
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 94vh;
        background-blend-mode: soft-light;

        >* {
            color: white;
        }

        .hero-content {
            .heading {
                color: white;
            }

            .heading-description {
                font-family: var(--tui-font-family-heading);
                font-size: var(--tui-font-size-extra-large);
                font-weight: var(--tui-font-weight-heading);
            }

            .description {
                .description-paragraph {
                    max-width: 40rem;
                    font-size: var(--tui-font-size-medium);
                }
            }

            .hero-footer {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: var(--tui-spacing-large);
                gap: var(--tui-spacing-large);
            }
        }

        @media (max-width: 720px) {
            min-height: 90vh;
        }
    }

    .divider-image {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: flex-end;
        transform-style: preserve-3d;
        background-color: transparent;
        width: 100%;
        height: 320px;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateZ(-80px) scale(2);
            z-index: -100;
            background-color: transparent;
            width: 100vw;
            height: 800px;
            object-position: center center;
            object-fit: cover;
        }

        .image-caption {
            display: flex;
            align-items: flex-end;
            align-self: flex-end;
            flex-direction: column;
            justify-content: flex-end;
            padding: var(--tui-spacing-large);
            width: 100%;
            max-width: 30rem;
            text-align: right;
            text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
            color: #ffffff;
            font-size: var(--tui-font-size-small);

            >* {
                text-align: right;
            }
        }
    }

    .key-messages {
        width: 100%;
        min-height: unset;

        .key-messages-content {
            gap: var(--tui-spacing-large);
        }
    }

    .key-findings {
        width: 100%;

        .key-findings-content {
            gap: var(--tui-spacing-large);

            .key-findings-container {
                display: flex;
                align-items: flex-start;
                gap: var(--tui-spacing-large);

                .key-findings-img {
                    width: 33rem;
                    height: 100%;
                    object-position: 0% 00%;
                    object-fit: contain;

                    @media (max-width: 880px) {
                        width: 100%;
                        height: auto;
                    }
                }

                @media (max-width: 880px) { 
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .education {
            .top-education-container {
                display: flex;
                flex-direction:column;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: var(--tui-spacing-large);

                .background {
                    width: 100%;
                    gap: var(--tui-spacing-large);
                    object-fit: cover;
                }

                .description {
                    .description-paragraph {
                        font-size: var(--tui-font-size-medium);
                    }
                }
                .estimated-caption {
                    font-style: italic;
                }
            }
        }

        .cost-of-disaster {
            .top-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: var(--tui-spacing-large);

                .description {
                    .description-paragraph {
                        max-width: 35rem;
                        font-size: var(--tui-font-size-medium);
                    }
                }
                .right-container {
                    .background {
                        max-width: 23rem;
                    }
                } 
            }

            .bottom-container {
                display: flex;
                position: relative;
                align-items: center;
                gap: var(--tui-spacing-large);
                overflow: none;

                .item-list {
                    display: flex;
                    flex-grow: 1;
                    gap: var(--tui-spacing-large);

                    @media (max-width: 880px) {
                        flex-direction: column;
                    }

                    .spotlight-item {
                        position: relative;
                        flex-grow: 1;
                        height: 18rem;

                        .spotlight-image {
                            border-radius: var(--tui-border-radius-medium);
                            width: 100%;
                            height: 100%;
                            object-fit: none;
                        }

                        &:after {
                            display: flex;
                            position: absolute;
                            bottom: var(--tui-spacing-extra-small);
                            left: var(--tui-spacing-extra-small);
                            align-items: center;
                            padding: 0 0.4rem;
                            color: var(--color-foreground);
                            font-size: var(--tui-font-size-small);
                            font-weight: var(--tui-font-weight-bold);
                            content: 'SPOTLIGHT: Gender disparities in access to education in Somalia and Ethiopia';
                        }
                    }
                }
            }
        }

        .bar-chart-content {
            display: flex;
            gap: var(--tui-spacing-mega-large);

            .bar-chart {
                flex-direction: column;

                .bar-chart-heading {
                    min-width: 60%;
                    text-align: center;
                }
            }
            @media (max-width: 880px) {
                flex-direction: column;
            }
        }

        .way-forward {
            .way-forward-content {
                .description {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: var(--tui-spacing-medium);

                    .description-paragraph {
                        max-width: 60rem;
                        font-size: var(--tui-font-size-medium);
                    }
                }
            }
        }

        .download {
            min-height: unset;

            .download-content {
                min-height: unset;

                .top-content {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: var(--tui-spacing-extra-large);

                    .left-content {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-width: 20rem;

                        .book-cover {
                            max-width: 96vw;
                            height: 16rem;
                            object-fit: contain;
                        }
                    }

                    .right-content {
                        display: flex;
                        align-self: stretch;
                        flex-direction: column;
                        gap: var(--tui-spacing-medium);

                        .links-container {
                            display: flex;
                            flex-direction: column;
                            background-color: var(--tui-color-background);
                            padding: var(--tui-spacing-large);
                            gap: var(--tui-spacing-large);

                            .download-link {
                                display: flex;
                                align-items: center;
                                color: var(--tui-font-color-text);
                                font-weight: var(--tui-font-weight-bold);
                                gap: var(--tui-spacing-extra-small);
                            }
                        }

                        .separator {
                            color: var(--tui-color-label);
                        }

                        .select-section-container {
                            display: flex;
                            flex-direction: column;
                            border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
                            background-color: var(--tui-color-foreground);
                            padding: var(--tui-spacing-medium);
                            gap: var(--tui-spacing-medium);

                            .select-input {
                                min-width: 20rem;
                                max-width: 30rem;
                            }

                            .button {
                                padding: var(--tui-spacing-extra-extra-small) var(--tui-spacing-small);
                                width: fit-content;
                            }
                        }
                    }
                }
            }
        }

        .id-trends {
            .id-trends-content {
                display: flex;
                flex-direction: column;
                gap: var(--tui-spacing-large);

                .description-container {
                    display: flex;
                    flex-direction: column;
                    padding: var(--tui-spacing-small) 0;
                    gap: var(--tui-spacing-small);

                    .description-paragraph {
                        margin: 0;
                        max-width: 36rem;
                    }
                }

                @media (max-width: 880px) {
                    flex-wrap: wrap;

                    .description-paragraph {
                        max-width: 100%;
                    }
                }
            }
        }

        .id-access {
            .id-access-content {
                display: flex;
                flex-direction: column;
                gap: var(--tui-spacing-large);

                .id-access-container {
                    display: flex;
                    gap: var(--tui-spacing-large);

                    .description-container {
                        display: flex;
                        flex-direction: column;
                        padding: var(--tui-spacing-small) 0;
                        gap: var(--tui-spacing-small);

                        .description-paragraph {
                            margin: 0;
                        }
                    }

                    .below-img-container {
                        .background {
                            width: 100%;
                        }
                        .description-caption {
                            font-size: var(--tui-font-size-extra-small);
                            font-style: italic;
                        }
                    }

                    @media (max-width: 880px) {
                        flex-wrap: wrap;

                        .description-paragraph {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        .conclusion {
            .id-conclusion-content {
                display: flex;
                flex-direction: column;
                gap: var(--tui-spacing-large);

                .id-conclusion-top-container {
                    display: flex;
                    gap: var(--tui-spacing-large);

                    .description-container {
                        display: flex;
                        flex-direction: column;
                        padding: var(--tui-spacing-small) 0;
                        gap: var(--tui-spacing-small);
                    }

                    @media (max-width: 880px) {
                        flex-wrap: wrap;
                        max-width: 100%;
                    }
                }
            }
        }

        .footer {
            position: relative;
            background-color: var(--tui-color-brand-light);
            background-image: url('../../resources/img/cover-img.jpg');
            background-position: right top;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: soft-light;
            width: 100vw;

            >* {
                color: white;
            }

            .footer-content {
                .text {
                    color: white;
                }

                .paragraph {
                    margin: 0;
                    max-width: 30rem;
                    font-size: var(--tui-font-size-medium);
                }

                .logo-container {
                    display: flex;
                    align-items: center;
                    gap: var(--tui-spacing-small);

                    .logo {
                        width: auto;
                        height: 2rem;
                    }
                }

                .bottom-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--tui-spacing-medium);

                    .left-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        gap: var(--tui-spacing-medium);

                        .link {
                            text-decoration: underline;
                            color: var(--tui-font-color-text);
                            font-weight: var(--tui-font-weight-heading);
                        }
                    }

                    .right-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        gap: var(--tui-spacing-medium);

                        .social-links {
                            display: flex;
                            align-items: center;
                            font-size: var(--tui-font-size-large);
                            gap: var(--tui-spacing-extra-small);

                            >* {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    .select-input {
        .input-section {
            border-radius: 0.25rem;
            background-color: var(--tui-filter-background-color);
            height: 2.5rem;

            >*{
                padding-right: 0;
                width: 4.5rem;
            }:hover{
                background-color: unset;
            }
        }
    }
}
@media (max-width: 880px) {
    .key-findings-img {
        width: 100%;
        height: auto;
    }
}
